{% extends 'base.html.twig' %}

{% block title %}Performances index{% endblock %}

{% block content %}
<div class="container pt-5 pb-5">
    <h1>Performances index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Contenu</th>
                <th>Logo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for performance in performances %}
            <tr>
                <td>{{ performance.id }}</td>
                <td>{{ performance.nom }}</td>
                <td>{{ performance.contenu }}</td>
                <td>{{ performance.logo }}</td>
                <td>
                    <a href="{{ path('performances_show', {'id': performance.id}) }}">show</a>
                    <a href="{{ path('performances_edit', {'id': performance.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('performances_new') }}">Create new</a>
</div>
{% endblock %}
